.about__profilePicture{
    margin-top: 10px;
    border-radius: 100%;
    border: solid 3px #5E81AC;
    max-width: 400px;
}

.about > p{
    font-size: 20pt;
    color:#ECEFF4;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}