.projectPreview{
    max-width: 600px;
    color: aqua;
    font-size: 20pt;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.projectPreview__title{
    background-color: black;
    margin: 0px;
    padding: 10px;
}

.projectPreview__img--container{
    position: relative;
    text-align: left;
    background-color: black;
    transition: all 0.2s ease-in-out 0s;
}

.projectPreview__img{
    width: 600px;
    height: 600px;
    margin-bottom: -7px;
}

.projectPreview__img:hover{
    cursor: pointer;
    opacity: 40%;
}

.projectPreview__img--description{
    overflow: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: transparent;
    transition: all 0.2s ease-in-out 0s;
}

.projectPreview__img:hover + .projectPreview__img--description{
    color: white
}